.btn {
  color: #fff;
  background: $orange;
  padding: 10px 10px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;
  display: block;
}